#fullscape-display {
    &,
    &.lyrics-unavailable,
    &.lyrics-hide-force {
        --fullscape-foreground-transform: 50%;
        --fullscape-art-max-width: 600px;
        --fullscape-items-max-width: 580px;
        --fullscape-title-size: 50px;
        --fullscape-sec-size: 28px;
    }
    &.lyrics-active
        :not(#fullscape-display.lyrics-unavailable *, #fullscape-display.lyrics-hide-force *) {
        --fullscape-foreground-transform: 0px;
        --fullscape-art-max-width: 500px;
        --fullscape-items-max-width: 480px;
        --fullscape-title-size: 40px;
        --fullscape-sec-size: 23px;
    }
    &.vertical-mode.lyrics-active {
        // show lyrics container in the bottom instead of to the side
        --lyrics-alignment: center;
        #fullscape-foreground {
            width: 100%;
            height: 50%;
            margin-top: 20px;
            #fullscape-art {
                --fullscape-art-max-width: 350px;
            }
        }

        #fad-lyrics-container {
            right: 0;
            left: 0;
            width: 100%;
            top: 15%;
            height: auto;
            .lyrics-wrapper {
                max-height: 70vh !important;
            }
        }
        &.lyrics-unavailable,
        &.lyrics-hide-force {
            --fullscape-foreground-transform: 0%;
            #fullscape-foreground {
                width: 100%;
                height: 100%;
                #fullscape-art {
                    --fullscape-art-max-width: 400px;
                }
            }
            #fad-lyrics-container {
                transform: translateY(1000px) scale3d(0.1, 0.1, 0.1);
            }
        }
    }

    @media (max-width: 1400px) {
        &,
        &.lyrics-unavailable,
        &.lyrics-hide-force {
            --fullscape-foreground-transform: 50%;
            --fullscape-art-max-width: 550px;
            --fullscape-items-max-width: 530px;
            --fullscape-title-size: 45px;
            --fullscape-sec-size: 26px;
        }
        &.lyrics-active
            :not(
                #fullscape-display.lyrics-unavailable *,
                #fullscape-display.lyrics-hide-force *
            ) {
            --fullscape-foreground-transform: 0px;
            --fullscape-art-max-width: 450px;
            --fullscape-items-max-width: 430px;
            --fullscape-title-size: 38px;
            --fullscape-sec-size: 20px;
        }
    }

    @media (max-width: 1200px) {
        &,
        &.lyrics-unavailable,
        &.lyrics-hide-force {
            --fullscape-foreground-transform: 50%;
            --fullscape-art-max-width: 500px;
            --fullscape-items-max-width: 480px;
            --fullscape-title-size: 40px;
            --fullscape-sec-size: 23px;
        }
        &.lyrics-active
            :not(
                #fullscape-display.lyrics-unavailable *,
                #fullscape-display.lyrics-hide-force *
            ) {
            --fullscape-foreground-transform: 0px;
            --fullscape-art-max-width: 400px;
            --fullscape-items-max-width: 380px;
            --fullscape-title-size: 38px;
            --fullscape-sec-size: 20px;
        }
    }

    @media (max-width: 992px) {
        &,
        &.lyrics-unavailable,
        &.lyrics-hide-force {
            --fullscape-foreground-transform: 50%;
            --fullscape-art-max-width: 450px;
            --fullscape-items-max-width: 430px;
            --fullscape-title-size: 38px;
            --fullscape-sec-size: 21px;
        }
        &.lyrics-active
            :not(
                #fullscape-display.lyrics-unavailable *,
                #fullscape-display.lyrics-hide-force *
            ) {
            --fullscape-foreground-transform: 0px;
            --fullscape-art-max-width: 350px;
            --fullscape-items-max-width: 330px;
            --fullscape-title-size: 36px;
            --fullscape-sec-size: 20px;
        }
    }

    @media (max-width: 768px) {
        &,
        &.lyrics-unavailable,
        &.lyrics-hide-force {
            --fullscape-foreground-transform: 50%;
            --fullscape-art-max-width: 400px;
            --fullscape-items-max-width: 380px;
            --fullscape-title-size: 40px;
            --fullscape-sec-size: 23px;
        }
        &.lyrics-active
            :not(
                #fullscape-display.lyrics-unavailable *,
                #fullscape-display.lyrics-hide-force *
            ) {
            --fullscape-foreground-transform: 0px;
            --fullscape-art-max-width: 300px;
            --fullscape-items-max-width: 280px;
            --fullscape-title-size: 36px;
            --fullscape-sec-size: 20px;
        }
    }

    #fullscape-details,
    #fullscape-status,
    #fullscape-progress-parent {
        transition: all var(--transition-duration) var(--transition-function);
    }

    #fullscape-foreground {
        transform: translateX(var(--fullscape-foreground-transform));
        width: 50%;
        flex-direction: column;
        text-align: center;
    }
    #fullscape-art {
        width: calc(100vh - 300px);
        max-width: var(--fullscape-art-max-width);
        min-width: 300px;
    }

    #fullscape-title {
        display: flex;
        min-width: 0;
        align-items: baseline;
        justify-content: center;
        overflow: hidden;
    }
    #fullscape-progress-parent {
        width: 28vw;
        max-width: var(--fullscape-items-max-width);
        margin: 12px auto 0;
    }
    #fullscape-details {
        padding-top: 30px;
        line-height: initial;
        max-width: var(--fullscape-items-max-width);
        color: var(--primary-color);
    }
    #fullscape-status {
        display: flex;
        width: 28vw;
        max-width: var(--fullscape-items-max-width);
        align-items: center;
        justify-content: center;
        flex-direction: row;
        &.active {
            margin: 5px auto 0;
            gap: 10px;
        }
    }
    #fullscape-title {
        font-size: var(--fullscape-title-size);
        font-weight: 700;
        font-family: inherit;
        font-synthesis: none;
        transition: all var(--transition-duration) var(--transition-function);
    }
    #fullscape-artist,
    #fullscape-album {
        font-size: var(--fullscape-sec-size);
        transition: all var(--transition-duration) var(--transition-function);
    }
    @media (max-width: 900px), (max-height: 900px) {
        #fullscape-title {
            font-size: 35px;
            font-weight: 600;
        }
    }

    #fullscape-title svg {
        width: 35px;
        height: 35px;
    }
    &.lyrics-active {
        #fullscape-title svg {
            width: 30px;
            height: 30px;
        }
        #playing-icon {
            margin-right: 2px;
        }
    }
    &.lyrics-unavailable,
    &.lyrics-hide-force {
        #fullscape-title svg {
            width: 35px;
            height: 35px;
        }
        #playing-icon {
            margin-right: 7px;
        }
    }
    #playing-icon {
        width: 28px !important;
        height: 28px !important;
        margin-right: 7px;
    }

    #fullscape-artist svg,
    #fullscape-album svg {
        width: calc(var(--fullscape-sec-size) - 6px);
        height: calc(var(--fullscape-sec-size) - 6px);
        margin-right: 5px;
    }

    .fullscape-controls {
        margin-top: 10px;
        margin-bottom: 5px;
    }
    .fullscape-controls-center {
        width: 100%;
        align-items: center;
        justify-content: center;
        margin: 6px auto 5px;
    }
}
